body{
    background: bisque;
}

.block{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    
    color: bisque;
    background-color: rgb(176, 86, 86);
    display: inline-block;
    text-align: center;
    font-size: 50px;
}

.img{
    background-color: transparent;
    opacity: 0.6;
    align-items: center;
    position: absolute;
    left: 510px;
}