body{
    background:url(images/Even\ a\ little\ light\ can\ make\ a\ difference\ in\ the\ dark..png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width:auto;
}


nav ul{
    list-style-type: none;
    margin: 10;
    padding: 10;
    text-align: right;
    
}

nav li{
    display: inline;
    margin-right: 20px;
}

nav a{
    display: inline-block;
    color: rgb(254, 254, 254);
    padding: 20px;
    text-decoration: solid;
    
}

nav a:hover{
    color: rgb(156, 48, 48);
}

.button{
    display: inline-block;
    position: absolute;
    top: 470px;
    left: 660px;
    text-align: right;
    padding: 10px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 22, 22);
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}

.button:hover{
    color: burlywood;
}

.login{
    background-color: rgb(95, 22, 22);
    border-radius: 50px;
}

nav .login:hover{
    color: rgb(225, 154, 154);
}

.logo{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: absolute;
    top: -1px;
    left: 25px;
    bottom: 900px;
}
