body{
    background: linear-gradient(to right, black, rgb(120, 255, 167), rgb(0, 71, 125));
}

body, html{
 height: 100%;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.container{
    text-align: center;
}

.form-box{
    width: 270px;
    padding: 50px;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    background-color: rgb(254, 255, 250);
}

.input-with-line{
    width: 100%;
    border: none;
    border-bottom: solid rgb(190, 191, 189);
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;


}
